# Ignore the node_modules directory
node_modules

# Ignore build and distribution folders
dist
build

# Ignore all JSON files
*.json

# Ignore specific files
.env
.expo-env.d.ts

# Ignore any file in a folder called coverage
coverage
